<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../statics/css/bulk_volume.css">
    <title>Conversor de Volume</title>

</head>

<body>
    <div class="card">
        <h1>Conversor de Volume</h1>
        <br>
        <div class="medidas-a">
            <label for="">Valor</label>
            <input type="text">

            <select name="tipo_comprimento" id="de">
                    <!-- <option value="">Selecione Um tipo</option>
                    <option value=""></option> -->
                    <option value="">Litro (l)</option>
                    <option value="">Mililitro (ml)</option>
                    <option value="">Galão Americano (gal)</option>
                    <option value="">Barril</option>
                   
                    </select>
        </div>

        <br><br><br>

        <div class="resultado" id="resultado">

            <p font>Litro (l) = </p>

            <p>Mililitro (ml) = </p>

            <p>Galão Americano (gal) = </p>

            <p>Barril = </p>



        </div>



    </div>

</body>

</html>